$color_white :#fff;
$color_palewhite: #eaeaea;
$color_brightwhite: #fafafa;
$color_black : #000;
$color_green: #8db542;
$color_lightgreen: #9acd32;
$color_lightgray: #d7d7d7;
$color_gray: #adabab;
$color_red: #b80808;